*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 51%;
    margin: auto;
}
#principal h2{
    color: blue;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
#principal{
    color: red;
    padding-bottom: 1.5rem;
    text-align: center;
    margin: auto;
    
}
#menu-principal ul{
    display: flex;
    color: blue;
    font-size: large;
    padding: 1rem;
    text-align: start;
    margin-left: 5.5rem;
    order: 1;
    align-self: flex-end;
    
    
    
}

#rodape{
    color: red;
    padding: 2.5rem;
    margin: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
