*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#borda{
    margin: 40px;
    width: 470px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid red;
    background-color: rgba(0, 255, 255, 0.253);
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    
}
#principal h2{
    color: blue;
    text-align: center;
    font-size: 24px;
}

#principal{
    
    color: red;
    padding-bottom: 1rem;
    text-align: center;
    margin: auto;
    
    
}

#menu-principal{
    
    display: flex;
    justify-content:center;
    width: 95%;   
    font-size: 18px;
    text-align: left;
    
  
}
#notebook{
    padding-left: 25px;
    
}

#menu-principal ul{
    display: flex;
    padding-bottom: 1rem;
    text-align: left;
    list-style: none;
}

#rodape{
    
    display: flex;
    text-align: center;
    color: red;
    text-align:left;
    margin: auto;
    width: 90%; 
}



